.chatWindow {
  position: relative;
  background: lime;
  flex-grow: 1;
}

.chatWindow__header {
  display: grid;
  background: whitesmoke;
  height: 10vh;
  border-left: 0.5px solid yellowgreen;
  padding: 5px;
}

.chatWindow__footer {
  display: flex;
  position: absolute;
  bottom: 0;
  background: burlywood;
  height: 8vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  flex-grow: 1;
}

svg {
  padding: 10px;
}

.MuiInputBase-root {
  display: flex;
  flex-grow: 1;
}
