.chatWindow {
  position: relative;
  background: lime;
  flex-grow: 1;
}

.chatWindow__header {
  display: grid;
  background: whitesmoke;
  height: 10vh;
  border-left: 0.5px solid yellowgreen;
  padding: 5px;
}

.chatWindow__footer {
  position: absolute;
  bottom: 0;
  background: burlywood;
  height: 8vh;
  width: 100%;
}
