.search {
  display: flex;
  background: lightgray;
  min-height: 5vh;
  align-items: center;
}

.search > * {
  margin-left: 10px;
}

.MuiInput-input {
  flex-grow: 1;
}

.chatList {
  cursor: pointer;
}