.chatItem {
  display: flex;
  border-bottom: 1px solid gray;
}

.chatItem > * {
  color: black;
  margin: 10px;
  font-size: medium;
}

.chatItem > a {
  display: flex;
  text-decoration: none;
}

.chatItem__content {
padding-left: 10px;
}